
.item-slider-type{
    color: white;
    width: 43em;
    padding: 0;
    margin: 10px 0px;
    text-align: left;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.item-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: relative;

    padding: 0;
    margin-top: 50px;
    width: 100%;
    height: 420px;
    
}

.item-slider-container{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    overflow-x: hidden;
    width: 64.8em;
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-color: rgb(30, 30, 30) black;
    scrollbar-width: thin;
    gap: 0.8em;

}


.pre-btn,
.nxt-btn{
    border: none;
    width: 5em;
    height: 40px;
    position: absolute;
    padding: 0;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    z-index: 9;
    filter: invert(100%) sepia(81%) saturate(2%) hue-rotate(43deg) brightness(108%) contrast(100%);;
}

.pre-btn{
    left: 18%;
}

.nxt-btn{
    right: 18%;
}

.pre-btn > img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.nxt-btn > img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}