body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    text-align: center;
}

.item-list-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px 0;
}

.item-list{
    width: 70em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 0;
    padding: 0;
}
