body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    text-align: center;
}

.item-list-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 30px 0;
}

.item-list-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70em;
    height: auto;
}

.item-list{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 0;
    padding: 0;
}

.collapsible{
    width: 45em;
    height: 60px;
    padding-left: 1em;
    margin: 50px 0px 10px 0px;
    

    text-align: left;
    font-size: 1.5em;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    background: rgb(30, 30, 30);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.160);

    cursor: pointer;

}

.active, .collapsible:hover{
    background: rgb(47, 47, 47);
}

.material-icons{
    float: right;
    font-size: 1.2em;
    margin-right: 1em;
    color: white;
}

.active > .add-icon, .remove-icon{
    display: block;
}

.active > .remove-icon, .add-icon{
    display: none;
}



