{% extends 'movies/base.html' %}
{% load static %}


{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styles/search.css' %}">
</head>
<body>
    <h2>Search results for: {{query}}</h2>
    <section class="item-list-container">
        <div class="item-list">
            {% if watchlistItems %}
                {% for item in watchlistItems %}

            <div class="item-card">
                {% if item.itemType == 'tv' %}
                <a href="{% url 'series-details' media_type=item.itemType item_id=item.itemID %}" class="item-image-container">
                {% else %}
                <a href="{% url 'movie-details' media_type=item.itemType item_id=item.itemID %}" class="item-image-container">
                {% endif %}

                    {% if item.itemRating == 0 %}
                    <span class="item-rating-tag">N/A</span>
                    {% elif item.itemRating > 0 and item.itemRating < 5 %}
                        <span class="item-rating-tag" style="background: linear-gradient(0deg, rgb(255, 87, 87) 0%, rgb(255, 255, 255) 100%)">{{item.itemRating|floatformat:1}}</span>
                    {% elif item.itemRating >= 5 and item.itemRating < 7 %}
                        <span class="item-rating-tag" style="background: linear-gradient(0deg, rgb(255, 219, 39) 0%, rgb(255, 255, 255) 100%)">{{item.itemRating|floatformat:1}}</span>
                    {% else %}
                        <span class="item-rating-tag" style="background: linear-gradient(0deg, rgb(151, 255, 95) 0%, rgb(255, 255, 255) 100%)">{{item.itemRating|floatformat:1}}</span>
                    {% endif %}
                    <img src="{{item.itemPoster}}" class="item-poster" alt="{{item.itemName}}">
                    <button class="watchlist-add-btn"><img src="{% static 'icons/bookmark.png' %}" alt="Add to Watchlist!"></button>
                </a>
                <div class="item-info">
                    <h2 class="item-name">{{item.itemName}}</h2>                    

                    <button class="watch-trailer-btn">Trailer</button>
                </div>
            </div>

                {% endfor %}
            {% endif %}
        </div>
    </section>
    <script src="{% static 'scripts/item-text.js' %}"></script>
</body>
{% endblock content %}
