{% extends 'movies/base.html' %}
{% load static %}
{% csrf_token %}


{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styles/search.css' %}">
    <link rel="stylesheet" href="{% static 'styles/item-card.css' %}">

</head>
<body>
    <h2>Search results for: {{query}}</h2>
    <section class="item-list-container">
        <div class="item-list">
            {% if items %}
                {% for item in items %}
            <div class="item-card">
                <div class="item-image-container">

                    {% if item.vote_average == 0 %}
                        <span class="item-rating-tag">N/A</span>
                        {% elif item.vote_average > 0 and item.vote_average < 5 %}
                            <span class="item-rating-tag" style="background: linear-gradient(0deg, rgb(255, 87, 87) 0%, rgb(255, 255, 255) 40%)">
                                {{item.vote_average|floatformat:1}}
                            </span>
                        {% elif item.vote_average >= 5 and item.vote_average < 7 %}
                            <span class="item-rating-tag" style="background: linear-gradient(0deg, rgb(255, 219, 39) 0%, rgb(255, 255, 255) 70%)">
                                {{item.vote_average|floatformat:1}}
                            </span>
                        {% else %}
                            <span class="item-rating-tag" style="background: linear-gradient(0deg, rgb(151, 255, 95) 0%, rgb(255, 255, 255) 90%)">
                                {{item.vote_average|floatformat:1}}
                            </span>
                        {% endif %}

                    {% if item.media_type == 'tv' %}
                    <a href="{% url 'series-details' media_type=item.media_type item_id=item.item_id %}">
                        <img src="{{item.poster_url}}" class="item-poster" alt="{{item.title}}">
                    </a>
                    {% else %}
                    <a href="{% url 'movie-details' media_type=item.media_type item_id=item.item_id %}">
                        <img src="{{item.poster_url}}" class="item-poster" alt="{{item.title}}"> 
                    </a>
                    {% endif %}
                    
                    
                    {% if auth %}
                    {% if item.on_watchlist %}
                    <button class="watchlist-remove-btn" 
                        data-item-id="{{item.item_id}}"
                        data-item-title="{{item.title}}" style="display: block;">
                    <img src="{% static 'icons/watchlist-remv.png' %}" alt="">
                    </button>
                    <button class="watchlist-add-btn" 
                        data-item-id="{{item.item_id}}" 
                        data-media-type="{{item.media_type}}"
                        data-item-title="{{item.title}}"
                        data-item-poster="{{item.poster_url}}"
                        data-item-rating="{{item.vote_average}}" style="display: none;">
                    <img src="{% static 'icons/watchlist-add.png' %}" alt="">
                    </button>
                    {% else %}
                    <button class="watchlist-remove-btn"
                        data-item-id="{{item.item_id}}"
                        data-item-title="{{item.title}}" style="display: none;">
                    <img src="{% static 'icons/watchlist-remv.png' %}" alt="">
                    </button>
                    <button class="watchlist-add-btn"
                        data-item-id="{{item.item_id}}" 
                        data-media-type="{{item.media_type}}"
                        data-item-title="{{item.title}}"
                        data-item-poster="{{item.poster_url}}"
                        data-item-rating="{{item.vote_average}}" style="display: block;">
                    <img src="{% static 'icons/watchlist-add.png' %}" alt="">
                    </button>
                    {% endif %}
                    {% else %}
                    <button class="watchlist-add-btn"
                        data-item-id="{{item.item_id}}" 
                        data-media-type="{{item.media_type}}"
                        data-item-title="{{item.title}}"
                        data-item-poster="{{item.poster_url}}"
                        data-item-rating="{{item.vote_average}}" style="display: block;">
                    <img src="{% static 'icons/watchlist-add.png' %}" alt="">
                    </button>
                    {% endif %}
                        
                        

                </div>
                <div class="item-info">
                    <h2 class="item-name">{{item.title}}</h2>                    
                    <button class="watch-trailer-btn">Trailer</button>
                </div>
            </div>

                {% endfor %}
            {% endif %}
        </div>
    </section>
</body>
{% endblock content %}
