{% extends 'movies/base.html' %}
{% load static %}


{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styles/watchlist.css' %}">
</head>
<body>
    <section class="item-list-container">
        <div class="item-list-inner-container">
            
            <button type="button" class="collapsible">Movies
                <i class="material-icons add-icon">add</i>
                <i class="material-icons remove-icon">remove</i>
            </button>
            <div class="item-list movie-list" style="display: flex;">
                {% for item in watchlistDataMovies %}
                
                <div class="item-card">
                    <div class="item-image-container">

                        {% if item.vote_average == 0 %}
                        <span class="item-rating-tag">N/A</span>
                        {% elif item.vote_average > 0 and item.vote_average < 5 %}
                            <span class="item-rating-tag" style="background: linear-gradient(0deg, rgb(255, 87, 87) 0%, rgb(255, 255, 255) 40%)">
                                {{item.vote_average|floatformat:1}}
                            </span>
                        {% elif item.vote_average >= 5 and item.vote_average < 7 %}
                            <span class="item-rating-tag" style="background: linear-gradient(0deg, rgb(255, 219, 39) 0%, rgb(255, 255, 255) 70%)">
                                {{item.vote_average|floatformat:1}}
                            </span>
                        {% else %}
                            <span class="item-rating-tag" style="background: linear-gradient(0deg, rgb(151, 255, 95) 0%, rgb(255, 255, 255) 90%)">
                                {{item.vote_average|floatformat:1}}
                            </span>
                        {% endif %}

                        <a href="{% url 'movie-details' media_type='movie' item_id=item.item_id %}">
                            <img src="{{item.poster_url}}" class="item-poster" alt="{{item.title}}">
                        </a>
                        <button class="watchlist-remove-btn" data-item-id="{{item.item_id}}" data-item-title="{{item.title}}">
                            <img src="{% static 'icons/watchlist-remv.png' %}" alt="Add to Watchlist!">
                        </button>

                    </div>
                    <div class="item-info">
                        <h2 class="item-name">{{item.title}}</h2>                    
                        <button class="watch-trailer-btn">Trailer</button>
                    </div>
                </div>
    
                    {% endfor %}
            </div>

            <button type="button" class="collapsible">TV Shows
                <i class="material-icons add-icon">add</i>
                <i class="material-icons remove-icon">remove</i>
            </button>
            <div class="item-list series-list" style="display: flex;">
                
                {% for item in watchlistDataSeries %}
                
                <div class="item-card">
                    <div class="item-image-container">
                    
                        {% if item.vote_average == 0 %}
                        <span class="item-rating-tag">N/A</span>
                        {% elif item.vote_average > 0 and item.vote_average < 5 %}
                            <span class="item-rating-tag" style="background: linear-gradient(0deg, rgb(255, 87, 87) 0%, rgb(255, 255, 255) 100%)">{{item.vote_average|floatformat:1}}</span>
                        {% elif item.vote_average >= 5 and item.vote_average < 7 %}
                            <span class="item-rating-tag" style="background: linear-gradient(0deg, rgb(255, 219, 39) 0%, rgb(255, 255, 255) 100%)">{{item.vote_average|floatformat:1}}</span>
                        {% else %}
                            <span class="item-rating-tag" style="background: linear-gradient(0deg, rgb(151, 255, 95) 0%, rgb(255, 255, 255) 100%)">{{item.vote_average|floatformat:1}}</span>
                        {% endif %}
                        <a href="{% url 'series-details' media_type='tv' item_id=item.item_id %}">
                            <img src="{{item.poster_url}}" class="item-poster" alt="{{item.title}}">
                        </a>
                        <button class="watchlist-remove-btn" data-item-id="{{item.item_id}}" data-item-title="{{item.title}}">
                            <img src="{% static 'icons/watchlist-remv.png' %}" alt="Remove from Watchlist!">
                        </button>
                    </div>
                    <div class="item-info">
                        <h2 class="item-name">{{item.title}}</h2>                    
                        <button class="watch-trailer-btn">Trailer</button>
                    </div>
                </div>
                    {% endfor %}
            </div>
        </div>
    </section>
    <script src="{% static 'scripts/list-collapse.js' %}"></script>
</body>
{% endblock content %}
